<H1  class="lead text-center">
  Welcome to Shopping
  </H1>
  
  <ul class="nav navbar nav-pills bg-dark  heroes">
     <a routerLink="login" class=b> <li >Login Page</li> </a>
      <a routerLink="register" class=b><li>Register page</li></a>
      <a  routerLink="registerProduct" class=b><li>Add new Product</li></a>
      <a routerLink="displayProducts"  class="b"><li >Display all products</li></a>
      <a routerLink="search"  class="b"><li>Search Products</li></a>
      <a routerLink="cart" class="b"><li >CartActions</li></a>
      <a routerLink="purchase" class="b"><li >Purchase Product</li></a>
      <a routerLink="displayUsers" class="b"><li>Display Users from API</li></a>
  </ul>

<router-outlet></router-outlet>