<div class="container text-center">
    <br>
    <br>
    <p class="lead"><strong>Welcome to Search Products page</strong></p>

</div>
<input type="text" placeholder="input search key" #serch>
<button type="submit" (click)="searchProduct(serch.value)">Search</button>
<table>
    <tr>
        <th>Product Name</th>
        <th>product Price</th>
        <th>Product Brand</th>
        <th>Product Category</th>
    </tr>
    <tr *ngFor="let s of searchResults">
        <td>

        </td>
        <td>

        </td>
    </tr>
</table>